@model IEnumerable<KDM.tbl_binary_matching_data>

@{
    ViewBag.Title = "GenerationProcessMatchCountList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generation Process Matching Count List</h2>

<table class="table">
    <tr>
        <th>
            @*Html.DisplayNameFor(model => model.PlacementID, "Placement ID")*@Placement ID
        </th>
        <th>
            BP Code
        </th>
        <th>
            Process Date
        </th>
        <th>
            Inputer ID
        </th>
        <th>
            Authorizer ID
        </th>
        <th>
            Before Left Point
        </th>
        <th>
            Before Right Point
        </th>
        <th>
            Matching Count
        </th>
        <th>
            After  Point
        </th>
        <th>
            After Right Point
        </th>
        <th>
            Posting Date
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlacementID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BPCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcessDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InputerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorizerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BLeftPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRightPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatchingCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ALeftPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARightPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostingDate@*.ToString("dd-MM-yyyy")*@)
        </td>
        
    </tr>
}

</table>
