@using KDM.Models
@model MemberRegistrationViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        /*border: 1px solid #dddddd;*/
        text-align: left;
        padding: 14px;
        font-weight: bold;
        font-size: .88rem !important;
        color: #495057 !important;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


<div id="div3">
    <p style="text-align:center;padding:0%;font-size:20px;">Member Details</p>
    <hr />
    <table class="table table-responsive" style="width:100%;">
        <thead>
            <tr>
                <th style="width:15%;text-align:left;"></th>
                <th style="width:1%;text-align:center;"></th>
                <th style="width: 15%;text-align: center;"></th>
                <th style="width:15%;text-align:center;"></th>
                <th style="width:1%;text-align:center;"></th>
                <th style="width: 15%;text-align: center;"></th>
                <th style="width:15%;text-align:left;"></th>
                <th style="width:1%;text-align:center;"></th>
                <th style="width: 15%;text-align: center;"></th>
            </tr>
        </thead>
        <tbody>
            <tr style="line-height: 14px; height: 14px;">
                <td style="border:none;text-align:left;">Placement ID</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.PlacementID</td>
                <td style="border:none;text-align:left;">Sponsor ID</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.SponsorID</td>
                <td style="border:none;text-align:left;">Sponsor Name</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.SponsorName</td>
            </tr>
        </tbody>
        <tbody>
            <tr style="line-height: 14px; height: 14px;">
                <td style="border:none;text-align:left;">Distributor Name</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.DistributorName</td>
                <td style="border:none;text-align:left;">Father Name</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.FathersName</td>
                <td style="border:none;text-align:left;">Mother Name</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.MothersName</td>
            </tr>
        </tbody>
        <tbody>
            <tr style="line-height: 14px; height: 14px;">
                <td style="border:none;text-align:left;">Present Address</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.PresentAddress</td>
                <td style="border:none;text-align:left;">Permanent Address</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.PermanentAddress</td>
                <td style="border:none;text-align:left;">Purchase Price</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;"></td>
            </tr>
        </tbody>
        <tbody>
            <tr style="line-height: 14px; height: 14px;">
                <td style="border:none;text-align:left;">NID Number</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.NID</td>
                <td style="border:none;text-align:left;">Mobile NO 1</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.Phone1</td>
                <td style="border:none;text-align:left;">Mobile NO 2</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.Phone2</td>
            </tr>
        </tbody>
        <tbody>
            <tr style="line-height: 14px; height: 14px;">
                <td style="border:none;text-align:left;">Nominee Name</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.NomineeName</td>
                <td style="border:none;text-align:left;">Relation With Nominee</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.RelationWithNominee</td>
                <td style="border:none;text-align:left;"></td>
                <td style="text-align:left;"></td>
            </tr>
        </tbody>
        <tbody>
            <tr style="line-height: 14px; height: 14px;">
                <td style="border:none;text-align:left;">Nominee NID Or Birth Certificate</td>
                <td style="border:none;text-align:left;">:</td>
                <td style="text-align:left;">@Model.NomineeNIDOrBirthCertificate</td>
                <td style="border:none;text-align:left;"></td>
                <td style="text-align:left;"></td>
                <td style="border:none;text-align:left;"></td>
                <td style="text-align:left;"></td>
            </tr>
        </tbody>
    </table>
    <br />
</div>
<div class="position-relative form-group row" style="width:100%;margin-left: 20%;">
    <a href='@Url.Action("UpdateMember", "Member",new {MemberID=Model.MemberID})' class="btn btn-success btn-lg btn-block col-md-1" style="width:20%;">Update</a>
    @*<input style="width:20%;" type="button" value="Update" id="update" class="btn btn-success btn-lg btn-block col-md-1" />*@
    <a href="javascript:printDiv('div3')" class="col-md-6"><input style="width:18%;" type="button" value="Print" id="print" class="btn btn-success btn-lg btn-block" /></a>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>


@section script
{
    <script>
        function printDiv(divId) {
            window.frames["print_frame"].document.body.innerHTML = document.getElementById(divId).innerHTML;
            window.frames["print_frame"].window.focus();
            window.frames["print_frame"].window.print();
        }
    </script>
}





