@using KDM.Models
@model ChangeMyPasswordViewModel

@{
    /**/

    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="col-md-4">


    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger fade show" role="alert">
            <strong>@ViewBag.ErrorMessage</strong>
        </div>
    }
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success fade show" role="alert">
            <strong>@ViewBag.SuccessMessage</strong>
        </div>
    }

    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">

                @if (ViewBag.PanelTitles != null)
                {@ViewBag.PanelTitles["PanelTitle1"] }

            else
            { <span>START FROM HERE <b>&#11015;</b></span>}
            </h5>

            @using (Html.BeginForm("ChangeMyPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "" }))
            {
                @Html.AntiForgeryToken()

                

                <div class="position-relative form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "" })
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = Html.DisplayNameFor(d => d.OldPassword) })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>

                <div class="position-relative form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = Html.DisplayNameFor(d => d.NewPassword) })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>

                <div class="position-relative form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = Html.DisplayNameFor(d => d.ConfirmPassword) })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <div class="position-relative form-group">
                    <input type="submit" value="Save" class="btn btn-success btn-lg btn-block" />
                </div>

            }

        </div>
    </div>

</div>

