@model IEnumerable<KDM.tbl_product_category>

@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CategoryList</h2>

<p>
    @Html.ActionLink("Create New", "CreateCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("CategoryEdit", "CategoryEdit", new { Code = item.Code }) |
            @*@Html.ActionLink("CategoryDetails", "CategoryDetails", new { Code = item.Code }) |
            @Html.ActionLink("CategoryDelete", "CategoryDelete", new { Code = item.Code })*@
        </td>
    </tr>
}

</table>
