
@{
    ViewBag.Title = "Search For Account create ";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var listTitle = "";
}

<div class="row">

    <div class="col col-sm-12">


        @using (Html.BeginForm("getMemberToUser", "Member", FormMethod.Get, new { @name = "Member-getMemberToUser", @class = "", }))
        {
            @Html.AntiForgeryToken()

            <div class="main-card card border border-success rounded-0">
                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                @Html.Label("MemberID", "Member ID", new { @class = "col" })
                                @Html.TextBox("MemberID", null, new { @class = "form-control border border-success rounded-0 col-4" })
                                @Html.ValidationMessage("MemberID", "", new { @class = "text-danger" })
                            </div>
                            <input type="button" id="btn-submit" value="Show Member data" class="rounded-0 btn btn-success btn-lg" report-type="html" />
                        </div>
                    </div>
                    
                </div>
            </div>
        }
    </div>

    <div class="col col-sm-12">

        <div class="main-card card border border-success rounded-0">
            <div class="card-body">



                @*<embed id="report-container" src="" type="application/pdf" width="100%" height="600px" />*@

                <div id="page-container"></div>
                @*<div class="report-container section-to-print">

                    </div>*@
                <!--<input type="button" value="SAVE" id="btn-save" class="btn btn-lg btn-block btn-primary" /> -->
            </div>
        </div>

    </div>
</div>


@section script{


    <script type="text/javascript">

        $(function () {

            $('#btn-save').click(function () {
                $('.report-container form').submit();
            });

            $("#btn-submit").click(function () {

                var container = "#page-container";
                var template = "<iframe id='page-frame' frameBorder='0' class='col col-12' style='height:650px;'></iframe>";
                var nameValueData = $("[name=Member-getMemberToUser]").serializeArray();

                var data = [];

                $.each(nameValueData, function (key, value) {

                    data[value.name] = value.value;
                });


                var url = '@Url.Action("getMemberToUser","Member")' + '?MemberID=' + data['MemberID'];


                $(container).html('');
                $(container).append(template);
                $('#page-frame').attr('src', url);

                console.log(data);
                console.log(url);
            });

            $("#btnSubmit, #btnSubmitsave, #btnShowReportExcel").on("click", function (e) {

                //$(".report-container").LoadingOverlay("show");

                var reportType = $(this).attr('report-type');
                if (reportType == 'pdf') {
                    ShowPDF();
                }
                else if (reportType == 'html') {
                    queryAction(e);
                }
                else if (reportType = 'excel') {
                    ShowExcel();
                }

                //$(".report-container").LoadingOverlay("hide");

            });



        });

        function queryAction(e) {
            e.preventDefault();
            showLoading("report-container");
            LoadReport("Member-UpdateMember");
           hideLoading("report-container");
        }

        function LoadReport(formName) {

            var url ="@Url.Action("UpdateMember", "Member")";

            var data = getWithQueryString(formName, url);

            $(".report-container").html(data);
            $(".rpt-header", ".report-container").hide();
        }

          function ShowPDF() {

            var url ="@Url.Action("UpdateMember", "Member")";
              var formName = "Member-UpdateMember";
            //var data = getWithQueryString(formName, url);
            var pdfUrl = getUrlWithParameter(formName, url);
            $(".report-container").html("");
            showPDFReport(pdfUrl,".report-container");
        }

    </script>





}
