@model KDM.Models.MemberRegistrationViewModel
@{
   
    Layout = "~/Views/Shared/_LayoutFramePage.cshtml";

}


    @using (Html.BeginForm("UpdateMember", "Member", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <div class="row col-col-md-11">
        <div class="col-12">
            @if (ViewBag.EMsg != null)
            {
                <div class="alert alert-danger">@ViewBag.EMsg</div>
            }
            @if (ViewBag.SMsg != null)
            {
                <div class="alert alert-success">@ViewBag.SMsg</div>
            }

        </div>

        <div class="card col">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4 label2">
                        @Html.LabelFor(m => m.MemberID, "Member ID", new { @class = "label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.MemberID, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })
                    </div>
                    @Html.ValidationMessageFor(m => m.MemberID, "", new { @style = "color: red" })
                </div>
                <div class="row">
                    <div class="col-sm-4 label2">
                        @Html.LabelFor(m => m.DistributorName, "Distributor Name", new { @class = "label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.DistributorName, new { @class = "form-control", @placeholder = "" })
                    </div>
                    @Html.ValidationMessageFor(m => m.DistributorName, "", new { @style = "color: red" })
                </div>

                @if (HttpContext.Current.User.IsInRole("admin"))
                {

                    <div class="row">
                        <div class="col-sm-4 label2">
                            @Html.LabelFor(m => m.SponsorName, "Sponsor ID", new { @class = "label" })
                        </div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(m => m.SponsorID, new { @class = "form-control", @placeholder = "" })
                        </div>
                        @Html.ValidationMessageFor(m => m.SponsorID, "", new { @style = "color: red" })
                    </div>

                }
                else
                {

                    <div class="row">
                        <div class="col-sm-4 label2">
                            @Html.LabelFor(m => m.SponsorName, "Sponsor ID", new { @class = "label" })
                        </div>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(m => m.SponsorID, new { @class = "form-control", @placeholder = "", @Readonly = "Readonly" })
                        </div>
                        @Html.ValidationMessageFor(m => m.SponsorID, "", new { @style = "color: red" })
                    </div>

                }

                <div class="row">
                    <div class="col-sm-4 label2">
                        @Html.LabelFor(m => m.SponsorName, "Sponsor Username", new { @class = "label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.SponsorName, new { @class = "form-control", @placeholder = "", @Readonly = "Readonly" })
                    </div>
                    @Html.ValidationMessageFor(m => m.SponsorName, "", new { @style = "color: red" })
                </div>

                <div class="row">
                    <div class="col-sm-4 label2">
                        @Html.LabelFor(m => m.FathersName, "Fathers Name", new { @class = "label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.FathersName, new { @class = "form-control", @placeholder = "" })
                    </div>
                    @Html.ValidationMessageFor(m => m.FathersName, "", new { @style = "color: red" })
                </div>

                <div class="row">
                    <div class="col-sm-4 label2">
                        @Html.LabelFor(m => m.MothersName, "Mothers Name", new { @class = "label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.MothersName, new { @class = "form-control", @placeholder = "" })
                    </div>
                    @Html.ValidationMessageFor(m => m.MothersName, "", new { @style = "color: red" })
                </div>
                <div class="row">
                    <div class="col-sm-4 label2">
                        @Html.LabelFor(m => m.PresentAddress, "Present Address", new { @class = "label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.PresentAddress, new { @class = "form-control", @placeholder = "" })

                    </div>
                    @Html.ValidationMessageFor(m => m.PresentAddress, "", new { @style = "color: red" })
                </div>
                <div class="row">
                    <div class="col-sm-4 label2">
                        @Html.LabelFor(m => m.PermanentAddress, "Permanent Address", new { @class = "label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.PermanentAddress, new { @class = "form-control", @placeholder = "" })

                    </div>
                    @Html.ValidationMessageFor(m => m.PermanentAddress, "", new { @style = "color: red" })
                </div>
                <div class="row">
                    <div class="col-sm-4 label2">
                        @Html.LabelFor(m => m.NID, "NID Number", new { @class = "label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.NID, new { @class = "form-control", @placeholder = "" })

                    </div>
                    @Html.ValidationMessageFor(m => m.NID, "", new { @style = "color: red" })
                </div>

                <div class="row">
                    <div class="col-sm-4 label2">
                        @Html.LabelFor(m => m.Phone1, "Phone Number/User ID", new { @class = "label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.Phone1, new { @class = "form-control only-numeric", @placeholder = "Phone Number/User ID", @readonly = "readonly" })

                    </div>
                    @Html.ValidationMessageFor(m => m.Phone1, "", new { @style = "color: red" })
                </div>

                <div class="row">
                    <div class="col-sm-4 label2">
                        @Html.LabelFor(m => m.Phone2, "Secondary Phone Number", new { @class = "label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.Phone2, new { @class = "form-control only-numeric", @placeholder = "" })

                    </div>
                    @Html.ValidationMessageFor(m => m.Phone2, "", new { @style = "color: red" })
                </div>
                <div class="row">
                    <div class="col-sm-4 label2">
                        @Html.LabelFor(m => m.NomineeName, "Nominee Name", new { @class = "label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.NomineeName, new { @class = "form-control", @placeholder = "" })

                    </div>
                    @Html.ValidationMessageFor(m => m.NomineeName, "", new { @style = "color: red" })
                </div>
                <div class="row">
                    <div class="col-sm-4 label2">
                        @Html.LabelFor(m => m.RelationWithNominee, "Relation With Nominee", new { @class = "label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.RelationWithNominee, new { @class = "form-control", @placeholder = "" })

                    </div>
                    @Html.ValidationMessageFor(m => m.RelationWithNominee, "", new { @style = "color: red" })
                </div>
                <div class="row">
                    <div class="col-sm-4 label2">
                        @Html.LabelFor(m => m.NomineeNIDOrBirthCertificate, "Nominee NID Or Birth Certificate", new { @class = "label" })
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.NomineeNIDOrBirthCertificate, new { @class = "form-control only-numeric", @placeholder = "" })

                    </div>
                    @Html.ValidationMessageFor(m => m.NomineeNIDOrBirthCertificate, "", new { @style = "color: red" })
                </div>
            </div>
            <div class="card-footer">

                <button id="save" class="btn btn-success btn-lg">Save</button>

            </div>

        </div>

        <div class="card col" style="padding:20px;">

            <div class="row">
                <div class="col-sm-4 label2">
                    @Html.LabelFor(m => m.PlacementID, "Member ID", new { @class = "label" })
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.PlacementID, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })

                </div>
                @Html.ValidationMessageFor(m => m.PlacementID, "", new { @style = "color: red" })
            </div>

            <div class="row">
                <div class="col-sm-4 label2">
                    @Html.LabelFor(m => m.LeftID, "Left ID", new { @class = "label" })
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.LeftID, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })

                </div>
                @Html.ValidationMessageFor(m => m.LeftID, "", new { @style = "color: red" })
            </div>

            <div class="row">
                <div class="col-sm-4 label2">
                    @Html.LabelFor(m => m.RightID, "Right ID", new { @class = "label" })
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.RightID, new { @class = "form-control", @placeholder = "", @readonly = "readonly" })

                </div>
                @Html.ValidationMessageFor(m => m.RightID, "", new { @style = "color: red" })
            </div>


            <div class="row ">
                <div class="col-sm-4 label2">

                </div>
                <div class="col-sm-7">

                    <input type='file' id="inputFile" onchange="readURL(this);" enctype="multipart/form-data" />
                    <!-- <img id="Img" src="#" alt="your image" /> -->

                </div>
                <div>

                </div>

            </div>
        </div>
    </div>
    }




@section script
{
    <script>


      
        
    </script>
}



